<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
 <link rel="stylesheet" href="static/font.css">
</head>
<body>
<h1>Unique BedTime Stories</h1>
<div id="container" >


 
  
    <h2>Forget Password? No Problem!</h2>

    <p> If we have your email on file, your new password will me created , and you will be directed to home page. </p>
    
<form action= "http://localhost:5000/login" method= "POST">
    
    <input type="text" placeholder="Enter Email" name="email" required>

    <input type="password" placeholder="Enter New Password" name="psw" required>

    
<label for = "submit" name= "submit">Submit</label>
    <input type="submit" name = "submit" >
  
  </form> 
   <p>Already have an account? <a href="/login.html">Sign in</a>.</p>
   <p>Create Account? <a href="/front.html">createAccount</a>.</p>
  


</div>
</body>
</html> 