 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
 <link rel="stylesheet" href="static/font.css">
</head>
<body>
<h1>Unique BedTime Stories</h1>
<div id="container" >


    <h2>Sign-up it is free to get a story a week!</h2>
    
    
<form action= "http://localhost:5000/home" method= "POST">
    <input type="text" placeholder="Your Name" name="yourname" required>
    <input type="text" placeholder="Enter Email" name="email" required>

    <input type="password" placeholder="Enter Password" name="psw" required>

    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    
<label for = "submit" name= "submit">Submit</label>
    <input type="submit" name = "submit" >
  
  </form> 
   <p>Already have an account? <a href="/login.html">Sign in</a>.</p>
    <p>Forgot Account? <a href="/forgot.html">forget password</a>.</p>
  


</div>
</body>
</html> 