<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
 <link rel="stylesheet" href="static/font.css">
</head>
<body>
<h1>Unique BedTime Stories</h1>
<div id="container" >


 
  
    <h2>LOGIN, AND LET YOUR IMAGINATION GO FREE,AND READ</h2>
    
    
<form action= "http://localhost:5000/home" method= "POST">
    
    <input type="text" placeholder="Enter Email" name="email" required>

    <input type="password" placeholder="Enter Password" name="psw" required>

   
    
<label for = "submit" name= "submit">LOGIN</label>
    <input type="submit" name = "submit" >
  
  </form> 
   <p>Create Account? <a href="/front.html">createAccount</a>.</p>
    <p>Forgot Account? <a href="/forgot.html">forget password</a>.</p>
  


</div>
</body>
</html> 